.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    min-width: 100%;
}
.card-container {
    width: calc(14.2% - 30px);
    margin-top: 40px;
    min-height: 300px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border: none;
    position: relative;
    border-radius: 6px;
}

@media (min-width: 0px) and (max-width: 500px){
    .card-container {
        width: 100%;
    }
}
@media (min-width: 501px) and (max-width: 800px){
    .card-container {
        width: calc(50% - 30px);
    }
}
@media (min-width: 801px) and (max-width: 1400px){
    .card-container {
        width: calc(33.3% - 30px);
    }
}
a {
    text-decoration: none;
    cursor: pointer;
}

/* background images for cards */
.currentportfolio {
    
}
